 @{
    ViewData["Title"] = "Nosotros";
}

<div class="text-center">
 <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
              <center><img src="/images/logoP.png" class="img-fluid" alt="" width="60%"></center>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
              <h3>INFORMACIÓN ACERCA DE LA EMPRESA</h3><br>
              <img id="img1" src="/images/inkasig-oullet_img1.jpg">
              <p>
                Elaboración de prendas y accesorios en fibra de alpaca, algodón orgánico y mezclas. Con un servicio personalizado, y además nuestra maquinaria ecológica de última generación es respetuosa con el medio ambiente, capaz de producir hasta 120 000 prendas al año.
              </p>
            </div>
          </div>

          <br>
          <br>

          <p>
                <center><h4>HISTORIA  </h4></center>
              </p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio magnam voluptatem excepturi molestiae, similique hic minus possimus minima blanditiis culpa aliquam ducimus sed adipisci tempore nisi esse libero, omnis reiciendis.
              <p>
                
              </p>
              <br>
          <br>
              <center><img src="/images/F4.jpg" class="img-fluid" alt=""></center>
              <br>
          <br>

              <div class="row">
                <div class="col-lg-5 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                  <p>
                    <center><h5>Misión:</h5></center> La venta de saldos que busca vender prendas de calidad a un precio accesible al publico local.
                  </p>
                </div>
                <div class="col-lg-7 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                  <p>
                    <center><h5>Visión:</h5></center> Posicionarnos en el mercado como una empresa exitosa y socialmente responsable con gran reconocimiento a nivel nacional gracias a nuestros productos, calidad, precios y servicio, siempre respetando los derechos y el trabajo tanto de nuestros colaboradores como de nuestros clientes, para asi seguir creciendo y poder ofrecer nuestros productos en todo el interior del país.
                  </p>
                  
                </div>
              </div>
   
        </div>
      </section><!-- End About Section -->
</div>
