 @{
    ViewData["Title"] = "Nosotros";
}

<div class="text-center">
 <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
              <center><img src="/images/logoP.png" class="img-fluid" alt="" width="60%"></center>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
              <h3>INFORMACIÓN ACERCA DE LA EMPRESA</h3><br>
              <p>
                Somos una empresa que se dedica a la venta de prendas para hombres, ofreciendo una gran variedad de prendas de calidad y al mejor precio.
                Ofrecemos un amplio contenido en diferentes tipos de prendas, como pantalones, polos, camisas, joggers, entre otros. El objetivo que tenemos como empresa es 
                ofrecer ropa de mejor calidad satisfaga las  necesidades y gustos del mercado potencial, ademas de vender ropa a la moda que cumpla con los requerimientos de estilo en el segmento del mercado.
              </p>
            </div>
          </div>

          <br>
          <br>

          <p>
                <center><h4>HISTORIA  </h4></center>
              </p>
              
              <p>
                Polnice fue creado en el año 2015 , en un principio se contaba con un local presencial que poco a poco se fue extendiendo, conforme pasaban los años se abrio 3 locales nuevios en zonas estrategicas de la ciudad.
Llegada la pandemia se recurrio a las plataformas virtuales de manera inmediata y casi sin otra salida para sacar adelante la empresa.
Sin embargo la llegada del fanpage y publicidad mediante facebook obtuvo resultados inmediatos, para favorecer las ventas.
Hoy en dia estamos posicionados en el mercado de ropa para hombres, y con la meta de extender locales a nivel nacional para seguir el crecimiento de la empresa en nuestro pais.
              </p>
              <br>
          <br>
              <center><img src="/images/F4.jpg" class="img-fluid" alt=""></center>
              <br>
          <br>

              <div class="row">
                <div class="col-lg-5 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                  <p>
                    <center><h5>Misión:</h5></center> Ofrecer a nuestros clientes  productos de calidad, a precios cómodos  que cumplan con sus necesidades y exigencias, abarcando sus gustos de acuerdo a su estilo de ver y vivir la vida.
                  </p>
                </div>
                <div class="col-lg-7 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                  <p>
                    <center><h5>Visión:</h5></center> Posicionarnos en el mercado como una empresa exitosa y socialmente responsable con gran reconocimiento a nivel nacional gracias a nuestros productos, calidad, precios y servicio, siempre respetando los derechos y el trabajo tanto de nuestros colaboradores como de nuestros clientes, para asi seguir creciendo y poder ofrecer nuestros productos en todo el interior del país.
                  </p>
                  
                </div>
              </div>
   
        </div>
      </section><!-- End About Section -->
</div>
