@{
    ViewData["Title"] = "ELECCIÓN";
}

<section id="hero" class="d-flex align-items-center justify-content-center">

    <div class="container">

        <div class="row justify-content-center">

        <div class="col-xl-6 col-lg-8">

          <center><h1>¿QUÉ DESEAS REALIZAR?</h1></center>

          <br>
          <br>

        <div class="section-title">

        <a class="nav-link" asp-controller="Pedido" asp-action="BuscarPedidos"><center><button type="submit" class="btn btn-primary">BUSCAR PEDIDOS</button></center></a>

        <br>
        <br>

        <a class="nav-link" asp-controller="Pedido" asp-action="ListarPedidos"><center><button type="submit" class="btn btn-primary">VER LISTA DE PEDIDOS</button></center></a>

        </div>

        </div>

        </div>

        </div>

    </div>

</section>
